body{
    text-align: center;
    background-color: rgb(126, 135, 144);
    color: black;
    margin: 0%;
}
section {
    padding: 50px;
    margin: 10px auto;
    max-width: 500px;
    background-color: darkcyan;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    align-items: center;
}
button{
    background-color: azure;
    color: black;
}
button:hover{
    background-color: cornflowerblue ;
}
table{
    width: 100%;
    border-collapse: collapse  black;
}
th{
    background-color: dimgray;
    color: black;
    border: 1px black;
}
td{
    border: 1px;
    padding: 0px;
    text-align: left;
}
form {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}